<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/search" method="POST">
      <label for="keyword">
        I'm looking for
      </label>
      <input type="text" name="keyword">
      <label for="city">
        in
      </label>
      <select name="location">
        <option value="30.2729,-97.7444">Austin</option>
        <option vlaue="37.773972,-122.431297">San Francisco</option>
        <option value="40.712784,-74.005941">New York</option>
        <option value="47.608013,-122.335167">Seattle</option>
        <option value="25.761681,-80.191788">Miami</option>
        <option value="41.881832,-87.623177">Chicago</option>
      </select>
      <input type="submit">
    </form>
    <% results.forEach((place) => { %>
        <p class="search-result">
          <!-- <%= JSON.stringify(place) %> -->
          <div class="place-name">
            <%= place.name; %>
          </div>
          <div class="place-rating">
            rating: <%= place.rating || 'none'; %>
          </div>
          <ul>
            <% place.types.forEach((type) => { %>
                <% if(type !== 'point_of_interest' && type !== 'establishment'){%>
                  <li class="place-type">
                  <%= type %>
                  </li>
                <% } %>
            <% }); %>
          </ul>
          <div class="place-location">
          location:
          <%= place.vicinity %>
          </div>
          <a href="/search/details/<%=place.place_id%>">
            details
          </a>
        </p>
        <hr>
    <% }); %>
  </body>
</html>
