<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>search details</title>
  </head>
  <body>
    <div>
      <%= result.name %>
      <%= result.formatted_address %>
      <%= result.formatted_phone_number %>
      <%= result.rating %>
      <form action="/places" method="POST">
        <select>
          <option value="tripA">A (DUMMY)</option>
          <option value="tripB">B (DUMMY)</option>
          <option value="tripC">C (DUMMY)</option>
        </select>
        <input type="submit" name="name" value="add to trip">
      </form>
      <!-- need route here -->
      <form action="index.html" method="POST">
        <fieldset>
          <legend>add to new plan</legend>
          <label for="name">title</label>
          <input type="text" name="name">
          <!-- fill out proper data for new trip and new place here -->
          <input type="hidden" name="city" value="<%=result.city%">
        </fieldset>
      </form>
      <% result.reviews.forEach((review) => { %>
        <div class="review">
        <% if (result.reviews.indexOf(review) < 5) { %>
          <li>
            author:
            <%= review.author_name %>
          </li>
          <li>
            photo url:
            <%= review.profile_photo_url %>
          </li>
          <li>
            rating
            <%= review.rating %>
          </li>
          <li>
            review:
            <%= review.text %>
          </li>
          <li>
            posted:
            <%= review.time %>
          </li>
        <% } %>
        </div>
        <hr>
      <% }); %>
    </div>
  </body>
</html>
