<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/search" method="POST">
      <label for="keyword">
        I'm looking for
      </label>
      <input type="text" name="keyword">
      <label for="city">
        in
      </label>
      <select name="location">
        <option value="austin">Austin</option>
        <option vlaue="san_francisco">San Francisco</option>
        <option value="new_york">New York</option>
        <option value="seattle">Seattle</option>
        <option value="maimi">Miami</option>
        <option value="chicago">Chicago</option>
      </select>
      <input type="submit">
    </form>
    <% results.forEach((place) => { %>
      <!-- filter out convenience stores -->
        <p class="search-result">
          <div class="place-name">
            <%= place.name; %>
          </div>
          <div class="place-rating">
            rating: <%= place.rating || 'none'; %>
          </div>
          <ul>
            <% place.types.forEach((type) => { %>
                <% if(type !== 'point_of_interest' && type !== 'establishment'){%>
                  <li class="place-type">
                  <%= type %>
                  </li>
                <% } %>
            <% }); %>
          </ul>
          <div class="place-location">
          location:
          <%= place.vicinity %>
          </div>
          <a href="/search/details/<%=place.place_id%>">
            details
          </a>
        </p>
        <hr>
    <% }); %>
  </body>
</html>
