<div class="col s12">
  <div class="row">
    <div class="input-field col s12" contenteditable="<%= is_editable || false %>">
      <h2 class="header" >
        <%= plan.name %>
      </h2>
    </div>
    <div class="input-field col s12" contenteditable="<%= is_editable || false %>">
      <h4 class="header">
        <%= plan.city %>
      </h4>
    </div>
    <div class="col s12 m3 l2">
      <h4 class="header">
        <input type="date" class="datepicker" style="color:black" <%= is_editable ? "" :"disabled"; %> value="<%= (plan.date||"1984-07-08") %>">
      </h5>
    </div>
  </div>
</div>
